---
interface Props {
  project: WordpressClientIdentifier
  page: number
}
import BlogLayout from "../../layouts/BlogLayout.astro"
import ArticlesList from '../../components/articles/ArticlesList.astro'
import BlogAboutCallout from '../../components/articles/BlogAboutCallout.astro'
import { getRecentPosts } from '../../lib/getRecentPosts'
import type { WordpressClientIdentifier } from "../../types"

interface Props {
  project: WordpressClientIdentifier
  page: number
}

const titleize = (category: WordpressClientIdentifier) => {
  switch (category) {
    case 'minafi':
      return 'Minafi'
    case 'hardcover':
      return 'Hardcover'
    default:
      return 'Adam Fortuna'
  }
}

const project = Astro.props.project as WordpressClientIdentifier
const PER_PAGE = Number(import.meta.env.ARTICLES_PER_PAGE)
const page = Astro.props.page ? Number(Astro.props.page) : 1
const { articles, totalPages } = await getRecentPosts({ count: PER_PAGE, offset: (page - 1) * PER_PAGE, projects: [project] })
const projectTitle = titleize(project)
---

<BlogLayout title={`${projectTitle} Posts`} description={`Every blog post I've on ${projectTitle}.`}>
  <p class="font-handwriting text-2xl md:text-4xl lg:text-6xl text-blue-700 mb-2 flex flex-wrap items-baseline">
    <span>
      <a href="/blog" class="underline hover:no-underline">
        Blog
      </a>
    </span>
    <span class="text-2xl mx-2">/</span>
    <span>
      <a href="/blog/projects" class="underline hover:no-underline">
        Projects
      </a>
    </span>
    </span>
    <span class="text-2xl mx-2">/</span>
    <span>{projectTitle}</span>
  </p>
  <BlogAboutCallout />
  <ArticlesList articles={articles} url={`/blog/projects/${project}`} page={page} totalPages={totalPages} showSeparator={true} />
</BlogLayout>